{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 120,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
